.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px; /* OdsazenĂ­ od spodnĂ­ ÄŤĂˇsti */
}

form h2{
    text-align: center;
    margin-bottom: 10px;
}

.text {
    margin-left: 16px;
    margin-bottom: 10px;
}

#form {
    background: #ffffff;
    padding: 20px;
    margin: 20px; /* OdsazenĂ­ od vĹˇech stran, vÄŤetnÄ› spodnĂ­ ÄŤĂˇsti */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    color: black;
    display: flex;
    flex-direction: column;
}

#form label {
    margin-left: 16px;
}

#form input[type="text"],
#form input[type="email"],
#form textarea {
    padding: 10px;
    margin: 8px 16px; /* Equal margin on both left and right */
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

#form textarea {
    resize: vertical;
    height: 100px;
}

#form button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

#form button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 10px;
    color: #333;
    font-size: 14px;
}